<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Hydroponic</title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/assets/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <script src="/bower_components/assets/jquery/jquery.min.js"></script>
    <script src="/bower_components/assets/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
</head>

<body>

<!-- Begin page content -->
<div class="container">
    <div class="mt-1">
        <h1>Hydroponic</h1>
    </div>
    <p class="center">
        <div class="col-sm-2 col-lg-2">
            <h4 class="h4">Manual handling</h4>
            <input type="checkbox" class="manualHandling bootstrap-switch" {{ if .isManualHandling }} checked=true {{ end }} name="light-1" >
        </div>
        {{ range .releList }}
        <div class="col-sm-2 col-lg-2">
            <h4 class="h4">{{ .Name }}</h4>
            <input type="checkbox" class="rele bootstrap-switch" {{ if .IsOn }} checked=true {{ end }} {{ if not $.isManualHandling }} disabled=true {{ end }} name="{{ .Name }}" >
        </div>
        {{ end }}
    </p>
</div>
<script type="text/javascript">
    $("input.bootstrap-switch").bootstrapSwitch();
    $("input.rele").on('switchChange.bootstrapSwitch', function(event, state) {
        console.log(this); // DOM element
        console.log($(this).attr('name')); // DOM element
        console.log(event); // jQuery event
        console.log(state); // true | false
        $.post( "/switch", {
            switchId:  $(this).attr('name'),
            state: state
        }, function( data ) {
            console.log(data)
        });
    });
    $("input.manualHandling").on('switchChange.bootstrapSwitch', function(event, state) {
            console.log(this); // DOM element
            console.log($(this).attr('name')); // DOM element
            console.log(event); // jQuery event
            console.log(state); // true | false
            $.post( "/setManual", {
                state: state
            }, function( data ) {
                console.log(data)
            });
        });
</script>
</body>
</html>

